.github-sign-in {
    background-color: rgba(83, 203, 165);
    border: 1px solid rgba(83, 203, 165);
    color: white;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 10px 7px rgb(29, 66, 3);
}