.title {
    font-size: 45px;
    color: blueviolet;
}

.user-name {
    color: brown;
}

.google-sign-in {
    background-color: rgba(83, 203, 165);
    border: 1px solid rgba(83, 203, 165);
    color: white;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 10px 7px rgb(29, 66, 3);
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 30px 0;
}

.sign-out-button {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(tomato, orange);
}

.sign-out-button:hover {
    background: linear-gradient(red, green);
}

.sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(tomato, orange);
}

.sign-in-button:hover {
    background: linear-gradient(red, green);
}